<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/sprint-11.css">
        <link rel="stylesheet" href="/styleguide.css">
        <title>Sprint 11</title>
        </head>
        <body>  
		  <header class="header">
            <h1 class="logo-wrapper">
             <a href="/">
			   <img src="/assets/Milledoni-logo.svg" alt="Milledoni-logo" class="logo">
               </a>
               <p class="logo-tekst">Finding and sharing gifts ideas</p>
            </h1>
			<nav class="nav-icons">
				<img src="/assets/Bookmark.svg" alt="Bookmark" class="">
				<img src="/assets/Profiel.svg" alt="Profiel" class="">
			</nav>
		</header>