<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styleguide.css">
        <title>Sprint 11</title>
        </head>
        <body>  
		  <header class="header">
			<img src="/assets/Milledoni-logo.svg" alt="Logo" class="logo">
			<div class="icons">
				<img src="/assets/Bookmark.svg" alt="Bookmark" class="">
				<img src="/assets/Profiel.svg" alt="Profiel" class="">
			</div>
		</header>