<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/sprint-11.css">
        <link rel="stylesheet" href="/styleguide.css">
        <script src="/main.js" defer></script>
        <title>Milledoni - {{ title }}</title>
        </head>
        <body> 

    <header>
        <section class="branding">
        <h1 class="heading-header">
            <a class="link-home" href="/">  
            <picture>
                <source type="image/webp" srcset="/assets/logomobiel.webp">
                <img class="logo-mobile-img" src="/assets/logomobiel.svg" width="40" height="50" alt="logo">
            </picture>
            </a>

            <a class="link-home" href="/">
            <picture>
                <source type="image/webp" srcset="/assets/logodesktop.webp">
                <img class="logo-desktop-img" src="/assets/logodesktop.svg" width="250" height="60" alt="logo">
            </picture>
            </a>
        </h1>
        <p class="subtitle-header">Cadeau-ideeën vinden en delen</p>
        </section>

        <nav class="nav-icons">
            <a class="your-list my-list" href="/favorieten/viresh">
                <p class="create-list my-list">Jouw lijst</p>
                <picture>
                    <source type="image/webp" srcset="/assets/notsaved.webp">
                    <img class="create-list-img" src="/assets/notsaved.svg" width="30" height="25" alt="">
                </picture>
            </a>
            <a class="to-profile my-list" href="">
                <picture>
                    <source type="image/webp" srcset="/assets/profile.webp">
                    <img class="profile-img" src="/assets/profile.svg" width="30" height="30" alt="">
                </picture>
            </a>
        </nav>
    </header>