<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sprint-11.css">
    <link rel="stylesheet" href="/styleguide.css">
    <title>Milledoni - Error</title>
</head>
<body>
    <main class="errorpage">
    <picture class="svg-error">
        <source type="image/avif" srcset="/assets/error-face.avif">
        <source type="image/webp" srcset="/assets/error-face.webp">
        <img class="bookmark-img" src="/assets/error-face.svg" width="227" height="258" alt="error afbeelding">
    </picture>

    <section class="feedback-error subtitle-error description-cadeau">
        <h2 class="error-code">Uh, oh! Error 404</h2>
        <span class="error-explained">Pagina niet gevonden</span>
        <a href="/" class="btn-home">Terug naar home pagina</a>
    </section>
</main>
</body>
</html>