{% render 'partials/head.liquid', title: 'Home' %}

<main class="errorpage">
    <picture class="svg-error">
        <source type="image/avif" srcset="/assets/error-face.avif">
        <source type="image/webp" srcset="/assets/error-face.webp">
        <img class="bookmark-img" src="/assets/error-face.svg" width="227" height="258" alt="error afbeelding">
    </picture>

    <section class="feedback-error subtitle-detail description-cadeau">
        <h2 class="error-code">Uh, oh! Error 404</h2>
        <span class="error-explained">Pagina niet gevonden</span>
        <a class="btn-home">Terug naar home pagina</a>
    </section>
</main>

{% render 'partials/footer.liquid' %}