{% render 'partials/head.liquid', title: gift.name %}


<div class="car">
    {% include 'partials/giftcard.liquid' %}
    {% include 'partials/giftcard.liquid' %}
    {% include 'partials/giftcard.liquid' %}
    {% include 'partials/giftcard.liquid' %}
    {% include 'partials/giftcard.liquid' %}
    {% include 'partials/giftcard.liquid' %}
    {% include 'partials/giftcard.liquid' %}
    {% include 'partials/giftcard.liquid' %}
</div>

{% comment %} <button class="left">left</button>
<button class="right">right</button> {% endcomment %}





{% render 'partials/footer.liquid' %}