{% render 'partials/head.liquid', title: gift.name %}

<section class="container-details">
    <img src="https://fdnd-agency.directus.app/assets/0109ba59-2fd9-4f72-9e39-4dadd3f0d3fd?format=avif&width=500&height=500" alt="test-img">

    <section class="gift-description">
        <h2>new kintsugi</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </section>

    <section class="extra-info">
        <h3>why this gift</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
        <h3>Good to know</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
    </section>

    <section class="save-to-give">
        <h3>Save to give</h3>
    </section>

    <section class="where-to-find">
        <h3>Where to find it</h3>
    </section>

    <section class="save-to-list">
        <button class="btn-add-to-list">button</button>
    </section>

    <section class="also-like">
        <h3>you may also like</h3>
    </section>
</section>

{% render 'partials/footer.liquid' %}
