{% render 'partials/head.liquid', title: gift.name %}

    <section class="section-where-find">
        <h3 class="section-title">
            <svg width="50" height="50" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" fill="none" stroke-linecap="round" stroke-linejoin="round"><rect x="8" y="24" width="48" height="32" stroke="#555" stroke-width="2" fill="none"/><rect x="28" y="40" width="8" height="16" stroke="#555" stroke-width="2" fill="none"/><path d="M8 24 L56 24 L52 12 H12 L8 24 Z" stroke="#C97B5D" stroke-width="2" fill="none"/><g stroke="#C97B5D" stroke-width="2"><line x1="12" y1="12" x2="12" y2="24"/> <line x1="16" y1="12" x2="16" y2="24"/><line x1="20" y1="12" x2="20" y2="24"/> <line x1="24" y1="12" x2="24" y2="24"/> <line x1="28" y1="12" x2="28" y2="24"/> <line x1="32" y1="12" x2="32" y2="24"/> <line x1="36" y1="12" x2="36" y2="24"/> <line x1="40" y1="12" x2="40" y2="24"/> <line x1="44" y1="12" x2="44" y2="24"/> <line x1="48" y1="12" x2="48" y2="24"/> <line x1="52" y1="12" x2="52" y2="24"/></g></svg>

            <span>Where to find it</span>
        </h3>

        <table>
            <thead>
                <tr>
                    <th>Winkel</th>
                    <th>Prijs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Decathlon</td>
                    <td>350,99€</td>
                </tr>
                <tr>
                    <td>Amazon</td>
                    <td>380,70€</td>
                </tr>
                <tr>
                    <td>Ebay</td>
                    <td>350,99€</td>
                </tr>
            </tbody>
        </table>
    </section>

{% render 'partials/footer.liquid' %}