{% render 'partials/head.liquid', title: gift.name %}

<section class="section-also-like">
    <h3 class="section-title">You may also like</h3>

    <ul class="container-carrousel">
        {% for gift in allGifts%}
            <li class="item-carrousel">
                {% include 'partials/giftcard.liquid' gift: gift %}
            </li>
        {% endfor %}
    </ul>
</section>

{% render 'partials/footer.liquid' %}