{% render 'partials/head.liquid', title: 'Mijn lijst' %}

<main class="favorieten-page">
    <section class="container-person-list">
        <img src="/assets/ben.svg" width="90" height="90" alt="profile-photo">
        <h2 class="list-person subtitle-fav">Mijn lijst</h2>
    </section>

    <div class="saved-gift-list">
        {% for gift in bkmgifts %}
            {% include 'partials/giftcard.liquid', gift: gift %}
        {% endfor %}
    </div>
</main>

{% render 'partials/footer.liquid' %}