

{% comment %} {% render 'partials/head.liquid', title: 'Home' %} {% endcomment %}

<main class="homepage">

<a href="/favorieten/viresh">My list</a>


<section class="gift-homepage">

    <button class="filter-popover" popovertarget="my-popover">
        <picture>
            <source type="image/avif" srcset="/assets/filter.avif">
            <source type="image/webp" srcset="/assets/filter.webp">
            <img class="filter-homepage-img" src="/assets/filter.svg" width="40" height="40" alt="">
        </picture>
        FILTER PER
    </button>
    <section class="filter-homepage" popover id="my-popover">
        Pas filters aan
    </section>

    <div class="cards-wrapper">
    {% for gift in giftData %}
    {% if forloop.index == 2 %}
    <a class="register-login-card" href="#"><div class="container-register">
        <p class="text-register">Maak een cadeau lijst en deel het! </p>
        
        <picture>
            <source type="image/avif" srcset="/assets/register-login.avif">
            <source type="image/webp" srcset="/assets/register-login.webp">
            <img class="register-img" src="/assets/register-login.png" width="160" height="160" alt="">
        </picture>

        <p class="heading-register" href="#">maak een lijst!</p>
    </div></a>
    {% endif %}
    {% include 'partials/giftcard.liquid' %}
    {% endfor %}
</section>
</div>

</main>

{% comment %} {% render 'partials/footer.liquid' %} {% endcomment %}












