* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Logo */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-primary-color);
    /* position: sticky; */
    top: 0;
    z-index: 20;
    padding: 1em;

    @media screen and (min-width:1000px) {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width:550px) {
    .branding {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }
}

@media screen and (min-width:550px) {
    .logo-mobile-img{
    display: none;
    }
}

.logo-desktop-img {
    display: none;

    @media screen and (min-width:550px) {
        display: block;
    }
}

.subtitle-header{
    display: none;
    font-size: var(--font-size-subtitle2-header);
    font-weight: var(--font-weight-subtitle2-header);
    line-height: var(--line-height-subtitle2-header);
    text-wrap: nowrap;

    @media screen and (min-width:550px) {
        display: block;
    }
}

.nav-icons{
    display: flex;
    justify-content: flex-end;
    gap: 1em;

}

.your-list {
    background-color: var(--bg-create-list-color-header);
    padding: 1em;
    border-radius: var(--border-radius-button-create-list);
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    box-shadow: var(--box-shadow-add);

    @media screen and (min-width:650px) {
        text-decoration: none;
        gap: 1em;
        width: 11em;
    }
}

.create-list-img {
    display: flex;
}

.create-list {
    display: none;

    @media screen and (min-width:650px) {
        display: block;
        color: var(--text-primary-color);
        font-size: var(--font-size-button-header);
        font-weight: var(--font-weight-button-header);
        line-height: var(--line-height-button-header);
    }
}

.to-profile {
    background-color: var(--bg-create-list-color-header);
    padding: 1em;
    border-radius: var(--border-radius-circle);
    display: flex;
    height: fit-content;
    box-shadow: var(--box-shadow-add);
}

.profile-img {
    display: flex;
}

.homepage {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
    background-color: var(--bg-primary-color);

    @media screen and (min-width:1280px) {
        display: grid;
        grid-template-columns: 36em 1fr;
        grid-template-areas: 
        "search gifts";
    }
}

.container-search {
    grid-area: search;
    display: grid;
    grid-template-columns: 1fr;
    margin: .5em .5em .5em .5em;
    background-color: inherit;

    @media (min-width: 1280px) {
        position: fixed;
        bottom: 3%;
        margin: .5em .5em .5em 1em;
    }

    .svg-gift {
        width: clamp(5em, 40vw, 10em);
    }

    .section-title {
        font-size: clamp(1.5rem, calc(4vw + 1.5rem), 4rem);
        font-weight: var(--font-weight-title1-home);
        line-height: var(--line-height-title1-home);
        margin-bottom: .3em;
        padding: .3em;
        width: 12.5ch;

        @media (min-width: 1200px) {
            font-size: var(--font-size-title1-home);
        }
    }

    .search-bar {
        display: grid;
        grid-template-areas:
        "search";
        margin-bottom: 1em;
        width: 85dvw;
        max-width: 30em;
        height: 4.5em;
        z-index: 100;

        position: fixed;
        bottom: 1em;

        @media (min-width: 540px) {
            justify-self: center;
        }

        @media (min-width: 1280px) {
            position: static;
            justify-self: start;
        }

        .btn-mic {
            grid-area: search;
            width: 3em;
            border: none;
            background-color: inherit;
            margin-left: .5em;
        }

        input {
            grid-area: search;
            border: 2px solid #A3A3A3;
            border-radius: 52px;
            padding: 0 60px 0 50px;
        }

        .placeholder {
            grid-area: search;
            align-self: center;
            padding: 0 60px 0 50px;
            pointer-events: none;
            color: #A3A3A3;

            font-size: var(--font-size-title2-home);
            font-weight: var(--font-weight-title2-home);
            line-height: var(--line-height-title2-home);
        }

        .btn-search {
            grid-area: search;
            width: min-content;
            justify-self: end;
            border: none;
            background-color: inherit;
            margin-right: .5em;

            img {
                width: 4em;
            }
        }
    }

    .section-spotters {
        display: flex;
        flex-direction: column;
        width: min-content;

        @media (min-width: 540px) {
            flex-direction: row;
            align-items: center;
        }

        .spotters-text {
            font-size: var(--font-size-title3-home);
            font-weight: var(--font-weight-title3-home);
            line-height: var(--line-height-title3-home);
            width: 25ch;
        }
    }
}


.gift-homepage {
    grid-area: gifts;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-secundary-color);
    border-radius: var(--border-radius-card);
    border-radius: 20px;
    gap: 1rem;

    @media screen and (min-width:1280px) {
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-rows: max-content 1fr;
        grid-template-areas:
            "filter filter filter"
            "cards cards cards";
    }

    /* @media screen and (min-width:1280px) {
        grid-template-columns: 1fr 1fr 1fr;
    } */
}

.filter-popover {
    grid-area: filter;
    width: 10em;
    border: none;
    display: flex;
    align-items: center;
    background-color: var(--bg-cards-homepage);
    font-size: var(--xs-paragraph);
    border-radius: var(--border-radius-m);
    padding: .5em;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    @media screen and (min-width: 1280px) {
        grid-area: cards;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--gift-container-width), 1fr));
        gap: 1em;
        justify-items: center;
    }
}

.filter {
    width: 15em;
    height: 25em;
    border: none;
    border-radius: var(--border-radius-m);
}

.gift-card {
    background-color: var(--card-primary-color);
    margin: 1em;
    height: 20em;
    /* width: clamp(17em, 50%, 23em); */
    width: var(--gift-width);
    box-shadow: var(--box-shadow-create-list);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-card);
}

.wrapper-img-bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
    width: 100%;
    position: relative;
}

.img-gift {
    display: flex;
    justify-self: center;
    margin: .5em;
}

.bookmark-icon {
    width: 4em;
    height: 4em;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* top: 1em; */
    top: 0;
    right: 1em;
    z-index: 1;
    border: 1px solid #212121;
    transition: transform 0.3s ease;
}

.bookmark-img .saved {
    display: flex;
    position: absolute;
    left: 0em;
    bottom: .2em;
}

.bookmark-img .saved {
    position: absolute;
    left: 0em;
    bottom: .2em;
}

.slug {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0em 1em 0em 1em;
    padding: 1em 0em 0em 0em;
    /* margin-left: 1em;
    margin-right: 1em; */
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: var(--font-size-card);
    font-weight: var(--font-weight-card);
    line-height: var(--line-height-card);
}

.container-saved-given {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: auto .5em .5em 0em ;
    /* margin-bottom: .5em;
    margin-top: auto; */
}

.container-gift-extra {
    display: flex;
    align-items: center;
    text-align: center;
    gap: .2em;
}

.gift-saved .gift-given {
    font-size: var(--font-size-saved-given-home);
    font-weight: var(--font-weight-saved-given-home);
    line-height: var(--line-height-saved-given-home);
}

.register-login-card {
    text-decoration: none;
}

.container-register {
    background-color: var(--card-primary-color);
    /* margin: 1em; */
    height: 20em;
    width: var(--gift-width);
    box-shadow: var(--box-shadow-create-list);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-card);
}

.text-register {
    display: flex;
    text-align: center;
    color: var(--text-secundary-color);
    font-size: var(--font-size-card);
    font-weight: var(--font-weight-saved-given-home);
    margin: 0em 1em 1em 1em;
}

.register-img {
    display: flex;
    justify-self: center;
}

.heading-register {
    display: flex;
    align-self: center;
    padding: .2em 1.2em .2em 1.2em;
    background-color: var(--bg-secundary-color);
    color: var(--text-secundary-button-color);
    font-weight: var(--font-weight-button-header);
    font-size: var(--font-size-title2-home);
    transform: rotate(-2deg);
}

/* details you may also like carrousel */
.section-also-like {
    display: grid;
    grid-template-areas:
    "title title title"
    "left carrousel right"
    "indicator indicator indicator";
    margin: 0 5em;

    height: 43em;

    .section-title {
        grid-area: title;
    }

    &::scroll-button(inline-start) {
        grid-area: left;
    }

    &::scroll-button(inline-end) {
        grid-area: right;
    }
}

.container-carrousel {
    grid-area: carrousel;
    display: flex;
    align-items: center;

    gap: 4em;
    list-style: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
    scroll-behavior: smooth;

    &::scroll-button(left) {
        content: "◄";
        cursor: pointer;
        border: none;
        background-color: #4d4d4d91;
        padding: 2em;
        position: relative;
        left: 100%;
        z-index: 2;
    }
  
    &::scroll-button(right) {
        content: "►";
        cursor: pointer;
        border: none;
        background-color: #4d4d4d91;
        padding: 2em;
        margin-left:1em;
        position: relative;
        right: 100%;
        z-index: 2;
    }

    &::scroll-marker-group {
        grid-area: indicator;
        display: flex;
        gap: 0.4em;
        place-content: center;
        margin-top: 1em;
    }
}

.item-carrousel {
    display: flex;
    flex: 0 0 20%;

    scroll-snap-align: center;
    scroll-snap-stop: always;

    /* https://scroll-driven-animations.style/demos/cover-flow/css/ */
    &> article {
        /* scroll animation */
        /* Track this element as it intersects the scrollport */
        view-timeline-name: --scale-center-li;
        view-timeline-axis: x;
        
        /* Link an animation to the established view-timeline and have it run during the contain phase */
        animation: linear center-scale both;
        animation-timeline: --scale-center-li;
    }


    &::scroll-marker {
        content: '';
        content: "";
        border: 2px solid #898A8D;
        height: 1em;
        width: 1em;
        border-radius: 50%;
    }
    
    &::scroll-marker:target-current {
        background: #898A8D;
    }
}

.placeholder-gift {
    min-width: var(--gift-width);
    height: 20em;
    background-color: #898A8D;
    border-radius: var(--border-radius-card);
    color: #898A8D;
    user-select: none;
    position: relative;

    .index-link {
        color: white;
        text-decoration: none;
        font-size: var(--font-size-text1-detail);
        /* hele height en width van de container(li) clickable */
        position: absolute;
        inset: 0;
        /* text center */
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: #212121;
        }
    }
}


@keyframes center-scale {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.3;
	}
	100% {
		scale: 1;
	}
}